<!--
<%= form_with scope: :tweet, local: true do |form| %>
    <p>
        <%= form.label :tweet %><br/>
        <%= form.text_area :tweet, :value => make_tweet %><br/>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>
-->
<h3 id = "tweetTextOut" style="color: white;">
    <%= make_tweet %>
</h3>